// Fuentes
$fuente_principal: 'Space Grotesk', sans-serif;

// Tamaño de Media Queries
$telefono: 375px;
$desktop: 1440px;


// - Linear gradient (active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%)
// - Red (input errors): hsl(0, 100%, 66%)

// ### Neutral
$linearGradient: hsl(249, 99%, 64%);
$linearGradientTo: hsl(278, 94%, 30%);
$Error: hsl(0, 100%, 66%);
$Light-grayish-violet: hsl(270, 3%, 87%);
$Dark-grayish-violet: hsl(279, 6%, 55%);
$Very-dark-violet: hsl(278, 68%, 11%);


// Colores-Primarios
$orange: hsl(35, 77%, 62%);
$red: hsl(5, 85%, 63%);

// Colores-Neutrales
$white: hsl(0, 0%, 100%);
// $gray: hsl(233, 8%, 79%);
// $dark-gray: hsl(236, 13%, 42%);
$black: #000000;

$separacion: 5rem;

// Fuentes
// $regular : 400;
$normal: 500;
// $bold: 700;
// $black: 800;